
<div class="row ml-3">
  <div class="col-md-4 mt-2">
    <label for=""><strong>QRCode text</strong>   </label>
    <textarea  type="text" class="form-control" [(ngModel)]="qrCodeText" name="qrCodeText"> </textarea>
  </div>
   <div class="col-md-2"> <qrcode   [qrdata]=" qrCodeText"  [width]="100"  background='pink' foreground="red" colorLight='pink' ></qrcode>
   </div>

</div>



<table class="table">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Quantity</th>
  </tr>
  <tr  *ngFor = "let item of table">
    <td>{{item.productName}}</td>
    <td>{{item.productPrice}}</td>
    <td>{{item.productQuantity}}</td>

  </tr>
</table>
